#Heading {
    color: pink;
    font-family: sans-serif;
    background-color: grey;
}
body {
    background-color: beige;
}
button {
    color: white;
    background-color: cornflowerblue;
}
.context{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkslategray;
}
.box {
    height: 50px;
    width: 50px;
    border: 1px solid blue;
}